@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container p-5 my-5 text-white rounded-pill" style="width: 800px; background-color: lightblue">
    <h1 class="display-3 text-dark">Gestor Universitario</h1>
    <div>
        <p class="text-dark" style="font-size: 20px">
            Desarrollado por: Viernalis Beltré Pérez<br />
            Matrícula: SD-2022-04002</p>
    </div>
    <div class="my-3">
        <a class="btn btn-primary" asp-area="" asp-controller="Estudiantes" asp-action="Index">Registrar Estudiante</a>
    </div>
</div>
